html {
  scroll-behavior: smooth;
}

.header {
  width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  backdrop-filter: blur(20px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.6);
  border-radius: 15px;
  padding: 10px 60px;
  margin-bottom: -180px;
  margin-top: 30px;
  z-index: 4;
  position: sticky;
  top: 30px;
}
.header .logo img {
  width: 100px;
  height: auto;
  cursor: pointer;
  filter: drop-shadow(0 0 10px black)
}
.header .nav ul {
  display: flex;
  list-style-type: none;
  gap: 32px;
}
.header .nav ul li {
  transition: all 0.4s ease-in-out;
}

.header .nav ul li a {
  color: white;
  text-decoration: none;
  font-family: "Readex Pro", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22.5px;
  transition: all 0.4s ease-in-out;
}
.header.scrolled .nav ul li a {
  color: black; /* Text color when scrolled */
}

.header.scrolled .nav li::after {
  content: "";
  display: block;
  margin-top: 2px;
  width: 0;
  height: 2px;
  background: #000;
  transition: width 0.3s;
}

.header.scrolled .nav li:hover::after {
  width: 100%;
  transition: width 0.4s;
}

.header .nav li::after {
  content: "";
  display: block;
  margin-top: 2px;
  width: 0;
  height: 2px;
  background: #e3fef7;
  transition: width 0.3s;
}

.header .nav li:hover::after {
  width: 100%;
  transition: width 0.4s;
}
